<div class="shadow p-3 mt-4">
  <div>
    <a href="/api/productos">productos</a>
    <a href="/api/carrito">carrito</a>
    <h1>bienvenido ! {{user}}</h1>
    <h1 class="">Centro de mensajes</h1>
    <h3 class="" id="compresion"></h3>
    <a class="btn btn-primary" href="/logout">log Out!</a>
  </div>

  <form class="justify-content-center  " id="form-chat">
    <div class="row">
      <div class="col-md-4">
          <input
            class="form-control mb-2"
            type="email"
            name="email"
            id="email"
            placeholder="email"
            required
          />
          <input
            class="form-control mb-2"
            type="nombre"
            name="nombre"
            id="nombre"
            placeholder="nombre"
            required
          />
          <input
            class="form-control mb-2"
            type="apellido"
            name="apellido"
            id="apellido"
            placeholder="apellido"
            required
          />
          <input
            class="form-control mb-2"
            type="edad"
            name="edad"
            id="edad"
            placeholder="edad"
            required
          />
          <input
            class="form-control mb-2"
            type="alias"
            name="alias"
            id="alias"
            placeholder="alias"
            required
          />
          <input
            class="form-control mb-2"
            type="avatar"
            name="avatar"
            id="avatar"
            placeholder="avatar"
            required
          />
      </div>
  
    <div class="chat col-md-6 border" id="chat">

    </div>
    <div class="d-flex justify-content-center ">
      <input
        class="form-control"
        type="text"
        name="mensaje"
        id="mensaje"
        placeholder="mensaje"
        required
      />
      <button
        type="submit"
        class="btn btn-info text-white ms-3"
      >Enviar!</button>
    </div>

    </div>
  </form>
</div>
<div class="row">

    </table>
  </div>  
</div>
</div>
<script>
  const decodedJson = decodeURIComponent("{{{encodedJson}}}"); const dataN =
  JSON.parse(decodedJson);

</script>