
<div>
    <h1>ingrese su usuario! </h1>
    
        <form class="px-5 mt-4" id="form-login" action="http://localhost:8080/" method="post">
        <p class="fw-bold">Ingrese su nombre</p>
        <div class="mb-4">
          <input
            style="width: 300px"
            class="form-control"
            type="email"
            name="email"
            id="user"
          />
        </div>
        <input
        class="form-control"
         style="width: 300px" 
         placeholder="pas" 
         name="password" 
         id="password"/>
        </div>
        <input onclick="" id="log" class="btn btn-success" type="submit" value="Enviar" />
      </form>
      <a href="/signUp">sign Up</a>
      <script >
    
      </script>

</div>













