
<div>
    <h1>cree su usuario! </h1>
    
        <form class="px-5 mt-4" id="form-login" action="http://localhost:8080/signUp" method="post" enctype="multipart/form-data">
        <p class="fw-bold">Ingrese su nombre</p>
        <div class="mb-4">
            <input
              style="width: 300px"
              class="form-control"
              placeholder="username"
              type="text"
              name="username"
              id="user"
            />
        </div>
        <div class="mb-4">
          
          <input
          class="form-control"
          style="width: 300px" 
          placeholder="pas" 
          name="password" 
          id="password"/>
        
        </div>

        <div class="mb-4" >
          <input
            class="form-control"
            style="width: 300px" 
            placeholder="email" 
            name="email" 
            id="email"/>
        </div>

          <div class="mb-4">
            <input
            class="form-control"
            style="width: 300px" 
            placeholder="address" 
            name="address" 
            id="address"/>
         </div>

         <div class="mb-4" >
         <input
        class="form-control"
         style="width: 300px" 
         placeholder="age" 
         name="age" 
         id="age"/>

         </div>
         <div class="mb-4">
          <input
            class="form-control"
            style="width: 300px" 
            placeholder="phone" 
            name="phone" 
            id="phone"/>
        </div>
        <input
        type="file"
            class="form-control"
            style="width: 300px" 
            name="photo_url" 
            id="photo_url"/>
        </div>
        <input onclick="" id="log" class="btn btn-success" type="submit" value="Enviar" />
      </form>
      <script>
       
      </script>

</div>

